.loadingWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.spinnerSquare {
  display: flex;
  flex-direction: row;
  width: 90px;
  height: 120px;
}

.spinnerSquare > .square {
  width: 17px;
  height: 80px;
  margin: auto auto;
  border-radius: 4px;
}

.squareOne {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s
    infinite;
}

.squareTwo {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms
    infinite;
}

.squareThree {
  animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms
    infinite;
}

@keyframes square-anim {
  0% {
    height: 80px;
    background-color: var(--color_brand_lime)
  }
  20% {
    height: 80px;
  }
  40% {
    height: 120px;
    background-color: var(--color_brand);
  }
  80% {
    height: 80px;
  }
  100% {
    height: 80px;
    background-color: var(--color_brand_lime)
  }
}
