.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  width: 500px;
  border-bottom: 1px solid var(--light_gray);
}

.w100 {
  width: 100%;
}

.productInfoWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 50px;
  padding: 0 10px;
  color: var(--black);
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.description {
  font-size: 0.8rem;
  color: var(--dark_gray);
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}

.ratingCount {
  font-size: 10px;
  color: var(--color_brand);
  font-weight: bold;
}

.buySectionWrapper {
  max-width: 700px;
}

.priceWrapper {
  padding: 20px 0;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
}
.priceSubtitle {
  font-size: 12px;
  color: var(--dark_gray);
}

.quantityWrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
}

.buyButtonsWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 30px;
}

.card {
  margin-top: 30px;
}

@media screen and (min-width: 991px) {
  .productInfoWrapper {
    width: 50dvw;
    max-width: 500px;
  }
}